<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="'active'">
      <img
        class="d-inline-block align-text-top"
        [src]="logoSrc"
        [alt]="logoAlt"
        width="30"
        height="24"
      />
      Shopping Cart
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="navbar-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="'active'"
            >Home</a
          >
        </li>
        <li class="navbar-item">
          <a
            class="nav-link"
            [routerLink]="['/recipes']"
            [routerLinkActive]="'active'"
            >Recipes</a
          >
        </li>
        <li class="navbar-item">
          <a class="nav-link">Shopping List</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link">Contacts</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
